<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /GamingEventV2/
    # Redirect to index.php for front controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>